<template>
  <v-app-bar
    :collapse="!collapseOnScroll"
    :collapse-on-scroll="collapseOnScroll"
    absolute
    color="deep-purple accent-4"
    dark
    scroll-target="#scrolling-techniques-6"
  >
    >
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-toolbar-title>Collapsing Bar</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-checkbox
      v-model="collapseOnScroll"
      color="white"
      hide-details
    ></v-checkbox>
  </v-app-bar>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class AppBar extends Vue {
  collapseOnScroll = true;
}
</script>
