<template>
  <v-container fluid mb-8>
    <v-row justify="center">
      <v-subheader>Today</v-subheader>

      <v-expansion-panels popout>
        <v-expansion-panel
          v-for="(message, i) in messages"
          :key="i"
          hide-actions
        >
          <v-expansion-panel-header>
            <v-row align="center" class="spacer" no-gutters>
              <v-col cols="4" sm="2" md="1">
                <v-avatar size="36px">
                  <img
                    v-if="message.avatar"
                    alt="Avatar"
                    src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
                  />
                  <v-icon
                    v-else
                    :color="message.color"
                    v-text="message.icon"
                  ></v-icon>
                </v-avatar>
              </v-col>

              <v-col class="hidden-xs-only" sm="5" md="3">
                <strong v-html="message.name"></strong>
                <span v-if="message.total" class="grey--text">
                  &nbsp;({{ message.total }})
                </span>
              </v-col>

              <v-col class="text-no-wrap" cols="5" sm="3">
                <v-chip
                  v-if="message.new"
                  :color="`${message.color} lighten-4`"
                  class="ml-0 mr-2 black--text"
                  label
                  small
                >
                  {{ message.new }} new
                </v-chip>
                <strong v-html="message.title"></strong>
              </v-col>

              <v-col
                v-if="message.excerpt"
                class="grey--text text-truncate hidden-sm-and-down"
              >
                &mdash;
                {{ message.excerpt }}
              </v-col>
            </v-row>
          </v-expansion-panel-header>

          <v-expansion-panel-content>
            <v-divider></v-divider>
            <v-card-text v-text="lorem"></v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

interface Message {
  avatar: string | undefined;
  name: string;
  title: string;
  excerpt: string | undefined;
  color: string | undefined;
  icon: string | undefined;
  new: number | undefined;
  total: number | undefined;
}

@Component
export default class AvatarComponent extends Vue {
  messages: Array<Message> = [
    {
      avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
      name: "John Leider",
      title: "Welcome to Vuetify!",
      excerpt: "Thank you for joining our community...",
      color: undefined,
      icon: undefined,
      new: undefined,
      total: undefined,
    },
    {
      color: "red",
      icon: "mdi-account-multiple",
      name: "Social",
      new: 1,
      total: 3,
      title: "Twitter",
      avatar: undefined,
      excerpt: undefined,
    },
    {
      avatar: undefined,
      color: "teal",
      icon: "mdi-tag",
      name: "Promos",
      new: 2,
      total: 4,
      title: "Shop your way",
      excerpt: "New deals available, Join Today",
    },
  ];

  lorem =
    "Lorem ipsum dolor sit amet, at aliquam vivendum vel, everti delicatissimi cu eos. Dico iuvaret debitis mel an, et cum zril menandri. Eum in consul legimus accusam. Ea dico abhorreant duo, quo illum minimum incorrupte no, nostro voluptaria sea eu. Suas eligendi ius at, at nemore equidem est. Sed in error hendrerit, in consul constituam cum.";
}
</script>
