<template>
  <v-container>
    <v-btn @click="decrement">-1</v-btn>
    <v-card-text>{{ count }}</v-card-text>
    <v-btn @click="increment">+1</v-btn>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class MyCounter extends Vue {
  @Prop({ required: true }) readonly initialCount!: number;

  public count = 0;

  created(): void {
    this.count = this.initialCount;
  }

  increment(): void {
    this.count++;
  }

  decrement(): void {
    this.count--;
  }
}
</script>
