<template>
  <v-app>
    <AppBar />
    <v-main>
      <MyCounter initialCount="5" />
      <AvatarComponent />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import "reflect-metadata";
import Vue from "vue";
import Component from "vue-class-component";
import HelloWorld from "./components/HelloWorld.vue";
import MyCounter from "./components/MyCounter.vue";
import AvatarComponent from "./components/AvatarComponent.vue";
import AppBar from "./components/AppBar.vue";

@Component({
  name: "App",
  components: {
    HelloWorld,
    MyCounter,
    AvatarComponent,
    AppBar,
  },
})
export default class extends Vue {}
</script>
